[mysqld]
#datadir=/mnt/store02/pokemon/myrocks/
port=3306
log-bin=yuzuki-debian-bin
#basedir=/usr/local/
socket=/tmp/mysql.sock
#plugin_dir=/mnt/store02/mysql-5.6/storage/

# rocksdb
rocksdb
default-storage-engine=rocksdb
skip-innodb
default-tmp-storage-engine=MyISAM
binlog_format=ROW
collation-server=latin1_bin
transaction-isolation=READ-COMMITTED

#rocksdb_max_open_files=-1
#rocksdb_base_background_compactions=1
#rocksdb_max_background_compactions=2
#rocksdb_max_total_wal_size=1G
#rocksdb_max_background_flushes=2
#rocksdb_block_size=4096
#rocksdb_block_cache_size=2G
#rocksdb_table_cache_numshardbits=6

# triggering compaction if there are many sequential deletes
#rocksdb_compaction_sequential_deletes_count_sd=1
#rocksdb_compaction_sequential_deletes=199999
#rocksdb_compaction_sequential_deletes_window=200000

#rocksdb_default_cf_options=write_buffer_size=128m;target_file_size_base=32m;max_bytes_for_level_base=512m;level0_file_num_compaction_trigger=4;level0_slowdown_writes_trigger=10;level0_stop_writes_trigger=15;max_write_buffer_number=4;compression_per_level=kLZ4Compression;bottommost_compression=kZSTD;compression_opts=-14:1:0;block_based_table_factory={cache_index_and_filter_blocks=1;filter_policy=bloomfilter:10:false;whole_key_filtering=1};level_compaction_dynamic_level_bytes=true;optimize_filters_for_hits=true;compaction_pri=kMinOverlappingRatio

rocksdb_default_cf_options=compression_per_level=kZlibCompression
